<!--
  Generated template for the CharacterPortraitSelectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar style="font-size: small;">
    <ion-title style="text-align: center;">Choose your character</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card style="border: solid; border-radius: 25px;" *ngFor="let characterPortraits of characterPortraits; index as i">
      <img (click)="changeCharacterPortrait(i)" src= {{characterPortraits}} alt="characterPortait"/>
  </ion-card>

  <!-- <div style="overflow: scroll" *ngFor="let characterPortraits of characterPortraits; index as i">
    <button (click)="makeMainPortrait(i)">
      <ion-img src= {{characterPortraits}} alt="characterPortait" class="imgSelection"></ion-img>
    </button>
  </div> -->
</ion-content>
